<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>{{page_title or "DanglingJournal"}}</title>

    <meta name="description" content="Your note taking app...">
    <meta name="keywords" content="journal, note">
    <meta name="author" content="Fahad Ahammed">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Trumbowyg -->
<link rel="stylesheet" href="{{ url_for('static', filename='trumbo/ui/trumbowyg.min.css') }}">
    <!-- Trumbowyg -->
    <script src="{{ url_for('static', filename='trumbo/trumbowyg.min.js') }}"></script>


    <!-- Navigation Active or Not -->
    <script>
        $(document).ready(function () {
            var title = jQuery(this).attr('title');
            if (title === "DanglingJournal") { $("#nav-home").addClass("active"); };
            if (title.includes("Note")) { $("#nav-note").addClass("active"); };
        });
    </script>



</head>

<body>

    <div class="container-fluid">
        <br>